<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Waiver Verification System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_intro.css') }}">
    <style>
    body{
        background: url("/static/images/image_loan.jpg");
    }</style>
   
</head>
<body>

    <!-- Hero Section -->
    <div class="hero">
        
        <div class="overlay">
            <h1>Welcome to the Aadhar and Smart Card Verification System</h1>
            <p>Ensuring a transparent and efficient loan waiver process.</p>
    

              
            <a href="{{ url_for('index1') }}" class="btn">Get Started</a>

        </div>
    </div>

</body>
</html>