<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Libraries for PDF Generation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>
    <div class="container" id="report">
        <h1>Verification Successful ✅</h1>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Aadhar Number:</strong> {{ aadhar }}</p>
        <p><strong>Smart Card Number:</strong> {{ smartcard }}</p>
        <p><strong>Status:</strong> {{ verified }}</p>
        <a href="{{ url_for('verify') }}" class="btn">Done</a>
    </div>
    <p id = 'result'></p>
    <button id="sendReportBtn"  data-aadhar="{{ aadhar }}" data-smartcard="{{ smartcard }}">
        Send Verification Report</button>
    </section>
    <script>
        const aadhaarNumber ="{{ aadhar }}";
        const smartCardNumber="{{ smartcard }}";
    </script>
    <script src="{{ url_for('static', filename='script.js') }}" defer>
    </script>
</body>
</html>
